# API Keys Required for the Pipeline
SERPAPI_KEY=your_serpapi_key_here
GOOGLE_API_KEY=your_google_api_key_here

# Local directory where your images are stored
DIRECTORY_PATH=your_image_directory_here

# The public-facing URL that SerpApi will use to access the images
BASE_URL=your_image_directory_url_here
